<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/acturol.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<link rel="stylesheet" href="./css/style.CSS">
    <title>Tienda de Vehículos</title>
  </head>
  <body>
<section class="form-register">
    <h4>QUIERES COMPRAR TU VEHICULO?</h4>
    <select class="controls"  name="marca" required>
         
        <option>Si</option>
        <option>No</option>

     

        
        
        
   
        
        </select>
    
       <input class="botons" type="submit" class="Confirmar">
    </td>

       
       

 
  </section>