


<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<link rel="stylesheet" href="./css/style.CSS">
<link rel="stylesheet" href="./css/archivo.CSS">

    <title>Tienda de Vehículos</title>
  </head>
  <body>
    <!-- inicio menú -->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/"><img  class="ffoto" src="/imagenes/logo13.png"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
    
                  
              <li class="nav-item active">
                <a class="nav-link" href="/registroco">Compra Tu Vehiculo<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/registro">Vende Tu Vehiculo</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/registroa">Compra y vende tu vehiculo</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/login">Inicia Sesion</a>
              </li>
            </ul>
            
            
        
        
            </div>
          </div>
        </nav>
      </div>
      <div class="slider">
        <ul>
            <li>
                <img src="/imagenes/acordeon1.jpg">
            </li>
            <li>
                <img src="/imagenes/acordeon2.jpg">
            </li>
            <li>
                <img src="/imagenes/acordeon3.jpg">
            </li>
            <li>
                <img src="/imagenes/acordeon4.jpg">
            </li>
        </ul>
    </div>
      </body>
      </html>   